<div id="admin-panel">
    <div style="text-align:left;"><img src="assets/previous_b.png" style="display:inline-block;" onclick="document.location='#chatrooms/<%= chatroom.id %>'">
    Back to <%= chatroom.name %></div>
    <div class="header">
        <h1>Admin panel</h1>
    </div>
    <br/>
    <% if (Transcendence.current_user.toJSON().admin == true || chatroom.owner == Transcendence.current_user.id) { %>
    <table class="action-type">
        <tr>
            <td class="inputs">
                <form action="/api/chatrooms/<%= chatroom.id %>/set_admin" type="submit" method="post"
                    data-remote="true">
                    <input type="hidden" name="_method" value="put">
                    <input id="input-setadmin" type="text" name="chatroom[user]" placeholder="Type or select user..." autocomplete="off">
                    <input type="submit" value="Set as admin">
                    <input value="<%= chatroom.id %>" type="hidden" name="chatroom[id]">
                    <input type="hidden" name="authenticity_token"
                        value="<%= $(`meta[name='csrf-token']`).attr('content') %>">
                </form>
            </td>
        </tr>
        <tr>
            <td class="members-list">
                <div class="header">Members list</div>
                <div class="content">
                    <% $.each(members, function(i) { %>
                    <div class="option" onclick="$('#input-setadmin').val($(this).text());"><%= Transcendence.users.get(members[i]).toJSON().username %></div>
                    <% }); %>
                </div>
            </td>
        </tr>
    </table>
    &emsp;&emsp;
    <table class="action-type">
        <tr>
            <td class="inputs">
                <form action="/api/chatrooms/<%= chatroom.id %>/unset_admin" type="submit" method="post"
                    data-remote="true">
                    <input type="hidden" name="_method" value="put">
                    <input id="input-unsetadmin" type="text" name="chatroom[user]" placeholder="Type or select user..." autocomplete="off">
                    <input type="submit" value="Demote">
                    <input value="<%= chatroom.id %>" type="hidden" name="chatroom[id]">
                    <input type="hidden" name="authenticity_token"
                        value="<%= $(`meta[name='csrf-token']`).attr('content') %>">
                </form>
            </td>
        </tr>
        <tr>
            <td class="members-list">
                <div class="header">Admins list</div>
                <div class="content">
                    <% $.each(admins, function(i) { %>
                    <div class="option" onclick="$('#input-unsetadmin').val($(this).text());"><%= Transcendence.users.get(admins[i]).toJSON().username %></div>
                    <% }); %>
                </div>
            </td>
        </tr>
    </table>
    <br/>
    <br/>
    <% } %>
    <table class="action-type">
        <tr>
            <td class="inputs">
                <form action="/api/chatrooms/<%= chatroom.id %>/ban_user" type="submit" method="post" data-remote="true">
                    <input type="hidden" name="_method" value="put">
                    <input id="input-ban" type="text" name="chatroom[user]" placeholder="Type or select user..." autocomplete="off">
                    <input type="date" name="chatroom[end_date]"><input type="time" name="chatroom[end_time]">
                    <input type="submit" value="Ban user">
                    <input value="<%= chatroom.id %>" type="hidden" name="chatroom[id]">
                    <input type="hidden" name="authenticity_token" value="<%= $(`meta[name='csrf-token']`).attr('content') %>">
                </form>
            </td>
        </tr>
        <tr>
            <td class="members-list">
                <div class="header">Members list</div>
                <div class="content">
                    <% $.each(members, function(i) { %>
                    <div class="option" onclick="$('#input-ban').val($(this).text());"><%= Transcendence.users.get(members[i]).toJSON().username %></div>
                    <% }); %>
                </div>
            </td>
        </tr>
    </table>
    &emsp;&emsp;
    <table class="action-type">
        <tr>
            <td class="inputs">
                <form action="/api/chatrooms/<%= chatroom.id %>/unban_user" type="submit" method="post" data-remote="true">
                    <input type="hidden" name="_method" value="put">
                    <input id="input-unban" type="text" name="chatroom[user]" placeholder="Type or select user..." autocomplete="off">
                    <input type="submit" value="Unban user">
                    <input value="<%= chatroom.id %>" type="hidden" name="chatroom[id]">
                    <input type="hidden" name="authenticity_token" value="<%= $(`meta[name='csrf-token']`).attr('content') %>">
                </form>
            </td>
        </tr>
        <tr>
            <td class="members-list">
                <div class="header">Banned users list</div>
                <div class="content">
                    <% $.each(banned, function(i) { %>
                    <div class="option" onclick="$('#input-unban').val($(this).text());"><%= Transcendence.users.get(banned[i]).toJSON().username %></div>
                    <% }); %>
                </div>
            </td>
        </tr>
    </table>
    <br/>
    <br/>
    <table class="action-type">
        <tr>
            <td class="inputs">
                <form action="/api/chatrooms/<%= chatroom.id %>/mute_user" type="submit" method="post" data-remote="true"><input
                        type="hidden" name="_method" value="put">
                    <input id="input-mute" type="text" name="chatroom[user]" placeholder="Type or select user..." autocomplete="off">
                    <input type="date" name="chatroom[end_date]"><input type="time" name="chatroom[end_time]">
                    <input type="submit" value="Mute user">
                    <input value="<%= chatroom.id %>" type="hidden" name="chatroom[id]">
                    <input type="hidden" name="authenticity_token" value="<%= $(`meta[name='csrf-token']`).attr('content') %>">
                </form>
            </td>
        </tr>
        <tr>
            <td class="members-list">
                <div class="header">Members list</div>
                <div class="content">
                    <% $.each(members, function(i) { %>
                    <div class="option" onclick="$('#input-mute').val($(this).text());"><%= Transcendence.users.get(members[i]).toJSON().username %></div>
                    <% }); %>
                </div>
            </td>
        </tr>
    </table>
    &emsp;&emsp;
    <table class="action-type">
        <tr>
            <td class="inputs">
                <form action="/api/chatrooms/<%= chatroom.id %>/unmute_user" type="submit" method="post" data-remote="true">
                    <input type="hidden" name="_method" value="put">
                    <input id="input-unmute" type="text" name="chatroom[user]" placeholder="Type or select user..." autocomplete="off">
                    <input type="submit" value="Unmute user">
                    <input value="<%= chatroom.id %>" type="hidden" name="chatroom[id]">
                    <input type="hidden" name="authenticity_token" value="<%= $(`meta[name='csrf-token']`).attr('content') %>">
                </form>
            </td>
        </tr>
        <tr>
            <td class="members-list">
                <div class="header">Muted users list</div>
                <div class="content">
                    <% $.each(muted, function(i) { %>
                    <div class="option" onclick="$('#input-unmute').val($(this).text());"><%= Transcendence.users.get(muted[i]).toJSON().username %></div>
                    <% }); %>
                </div>
            </td>
        </tr>
    </table>
</div>