<h1>Public chatrooms</h1>
<table class="chatrooms-list">
    <% if (chatrooms.length == 0) { %>
        <tr class="chatrooms-list-options">
            <td class="chatrooms-list-main" style="font-size:20px;text-align:center;">There are no public chatrooms !</td>
        </tr>
    <% } %>
    <% chatrooms.forEach(function(model) { %>
    <tr class="chatrooms-list-options" id="chatroom_<%= model.toJSON().id %>">
        <td class="chatrooms-list-image">
            <% if (model.toJSON().banned.includes(Transcendence.current_user.id)) { %>
            <img style="width:20px;height:20px;vertical-align:middle" src="/assets/block.png">
            <% } else { %>
            <img style="width:20px;height:20px;vertical-align:middle" src="/assets/check.png">
            <% } %>
        </td>
        <td class="chatrooms-list-main" onclick='document.location = "#chatrooms/<%= model.toJSON().id %>";'>
            <div class="room"><%= model.toJSON().name %></div>
            <div class="owner">Owner: <%= Transcendence.users.get(model.toJSON().owner).toJSON().username %></div>
        </td>
        <td class="chatrooms-list-join-unjoin">
            <% if (!model.toJSON().members.includes(Transcendence.current_user.id) && Transcendence.current_user.id != model.toJSON().owner) { %>
            <% join = "active"; unjoin = "" %>
            <% } else { %>
            <% join = ""; unjoin = "active" %>
            <% } %>
            <form action="/api/chatrooms/<%= model.toJSON().id %>/join" type="submit" method="post"
                class="join <%= join %>" data-remote="true">
                <input type="hidden" name="_method" value="put">
                <input type="submit" value="join">
                <input type="hidden" name="authenticity_token" value="<%= $(`meta[name='csrf-token']`).attr('content') %>">
            </form>
            <form action="/api/chatrooms/<%= model.toJSON().id %>/unjoin" type="submit" method="post"
                class="unjoin <%= unjoin %>" data-remote="true">
                <input type="hidden" name="_method" value="put">
                <input type="submit" value="unjoin">
                <input type="hidden" name="authenticity_token" value="<%= $(`meta[name='csrf-token']`).attr('content') %>">
            </form>
        </td>
    </tr>
    <% }) %>
</table>
