<div id="sidenav" class="guilds-sidenav"></div>

<div id="edit-panel" style="margin-left:200px;">
    <div class="panel edit-account" style="display:inline-block;vertical-align:middle;">
        <span class="closebtn" onclick="history.back()">&times;</span><br/><br/>
        <div class="header">
            <h1>Start a war</h1>
        </div>
        <br/>
        <form id="create-chatroom" action="/api/guild_wars" accept-charset="UTF-8" method="post" data-remote="true">
            Start date of the war:
            <input type="date" id="date-input-start">
            <input type="time" id="time-input-start" required>
            <input type="hidden" id="hidden-input-start" name="start" value="0">
            <br/>
            End date of the war:
            <input type="date" id="date-input-end">
            <input type="time" id="time-input-end" required>
            <input type="hidden" id="hidden-input-end" name="end" value="0">
            <br/>
            Start date of war time:
            <input type="date" id="date-input-start-war">
            <input type="time" id="time-input-start-war" required>
            <input type="hidden" id="hidden-input-start-war" name="start_war_time" value="0">
            <br/>
            End date of war time:
            <input type="date" id="date-input-end-war">
            <input type="time" id="time-input-end-war" required>
            <input type="hidden" id="hidden-input-end-war" name="end_war_time" value="0">
            <br/>
            Prize:
            <input type="number" name="prize" value="10" min="10" max="100">
            <br/>
            <input type="hidden" name="guild_one_id" value="<%= Transcendence.current_user.toJSON().guild %>">
            <input class="input-other-guild" type="hidden" name="guild_two_id" value="">
            <input type="hidden" name="guild_one_points" value="0">
            <input type="hidden" name="guild_two_points" value="0">
            <input type="hidden" name="war_time" value="false">
            Unanswered:
            <input type="number" name="unanswered_match" value="0" min="0" max="20">
            <br/>
            Tournaments:
            <input id="tournaments-id" type="checkbox" name="tournaments">
            <br/>
            Ladder:
            <input id="ladder-id" type="checkbox" name="ladder">
            <br/>
            <input type="hidden" name="pending" value="true">
            <input type="hidden" name="authenticity_token" value="<%= $(`meta[name='csrf-token']`).attr('content') %>">
            <button type="submit" class="edit save">create</button>
        </form>
    </div>
    &emsp;
    <div class="panel edit-account" style="display:inline-block;vertical-align:middle;">
        <div class="header">
            <h1>Choose a guild to defy</h1>
        </div>
        <table class="table-panel">
            <% Transcendence.guilds.each(function(model) { %>
            <% if (Transcendence.current_user.toJSON().guild != model.toJSON().id) { %>
            <tr>
                <td class="other-guild-option <%= model.id %>">[<%= model.toJSON().anagram %>] <%= model.toJSON().name %></td>
            </tr>
            <% }}) %>
        </table>
    </div>
</div>

<script>
    var date = new Date();
    var year = date.getFullYear();
    var month = date.getMonth() + 1;
    var today = date.getDate();
    var month_max = date.getMonth() + 2;
    if (month > 12) {
        month = 1;
        month_max = 2;
        year++;
    }
    if (month_max > 12) {
        month_max = 1;
    }
    var datePattern = String(year) + '-' + String(month).padStart(2, '0') + '-' + String(today).padStart(2, '0');
    var datePatternMax = String(year) + '-' + String(month_max).padStart(2, '0') + '-' + String(today).padStart(2, '0');
    document.getElementById("date-input-start").min = datePattern;
    document.getElementById("date-input-start").value = datePattern;
    document.getElementById("date-input-start").max = datePatternMax;
    document.getElementById("date-input-end").min = datePattern;
    document.getElementById("date-input-end").value = datePattern;
    document.getElementById("date-input-end").max = datePatternMax;
    document.getElementById("date-input-start-war").min = datePattern;
    document.getElementById("date-input-start-war").value = datePattern;
    document.getElementById("date-input-start-war").max = datePatternMax;
    document.getElementById("date-input-end-war").min = datePattern;
    document.getElementById("date-input-end-war").value = datePattern;
    document.getElementById("date-input-end-war").max = datePatternMax;

    $('#create-chatroom').submit(function () {
        if (document.getElementById("date-input-start").value > document.getElementById("date-input-end").value) {
            alert("Start date can't be after the end :(")
            return false;
        }
        else {
            month_one = parseInt(document.getElementById("date-input-start").value.split("-")[1])
            day_one = parseInt(document.getElementById("date-input-start").value.split("-")[2])
            hour_one = parseInt(document.getElementById("time-input-start").value.split(":")[0])
            minute_one = parseInt(document.getElementById("time-input-start").value.split(":")[1])
            timstamp_one = minute_one + (hour_one * 60) + (day_one * 1440) + (month_one * 43800);

            month_two = parseInt(document.getElementById("date-input-end").value.split("-")[1])
            day_two = parseInt(document.getElementById("date-input-end").value.split("-")[2])
            hour_two = parseInt(document.getElementById("time-input-end").value.split(":")[0])
            minute_two = parseInt(document.getElementById("time-input-end").value.split(":")[1])
            timstamp_two = minute_two + (hour_two * 60) + (day_two * 1440) + (month_two * 43800)
            if (timstamp_two - timstamp_one < 10) {
                alert("war must last at least 10 minutes")
                return false;
            }
            var start_war = timstamp_one
            var end_war = timstamp_two

            month_one = parseInt(document.getElementById("date-input-start-war").value.split("-")[1])
            day_one = parseInt(document.getElementById("date-input-start-war").value.split("-")[2])
            hour_one = parseInt(document.getElementById("time-input-start-war").value.split(":")[0])
            minute_one = parseInt(document.getElementById("time-input-start-war").value.split(":")[1])
            timstamp_one = minute_one + (hour_one * 60) + (day_one * 1440) + (month_one * 43800);

            month_two = parseInt(document.getElementById("date-input-end-war").value.split("-")[1])
            day_two = parseInt(document.getElementById("date-input-end-war").value.split("-")[2])
            hour_two = parseInt(document.getElementById("time-input-end-war").value.split(":")[0])
            minute_two = parseInt(document.getElementById("time-input-end-war").value.split(":")[1])
            timstamp_two = minute_two + (hour_two * 60) + (day_two * 1440) + (month_two * 43800)
            if (timstamp_two - timstamp_one < 5) {
                alert("war time must last at least 5 minutes")
                return false;
            }
            if (timstamp_one < start_war || timstamp_two > end_war)
            {
                alert("war time cant start or end if the war doesn't last enough")
                return false;
            }

        }
        if (document.getElementById("tournaments-id").checked == true)
            document.getElementById("tournaments-id").value = "true"
        else
            document.getElementById("tournaments-id").value = "false"
        if (document.getElementById("ladder-id").checked == true)
            document.getElementById("ladder-id").value = "true"
        else
            document.getElementById("ladder-id").value = "false"
        document.getElementById("hidden-input-start").value = document.getElementById("date-input-start").value + "T" +  document.getElementById("time-input-start").value + ".000Z"
        document.getElementById("hidden-input-end").value = document.getElementById("date-input-end").value + "T" +  document.getElementById("time-input-end").value + ".000Z"
        document.getElementById("hidden-input-start-war").value = document.getElementById("date-input-start-war").value + "T" +  document.getElementById("time-input-start-war").value + ".000Z"
        document.getElementById("hidden-input-end-war").value = document.getElementById("date-input-end-war").value + "T" +  document.getElementById("time-input-end-war").value + ".000Z"
 
        return true;
    });
</script>