<div id="sidenav" class="guilds-sidenav"></div>

<div id="main-guilds">
    <h1 class="name-guild"><span style="font-size:smaller;">[<%= curguild.anagram %>]</span> <%= curguild.name %></h1>
    <p class="points-guild" style="padding:30px"><span style="font-family:Impact;"><%= curguild.points %></span> points</p>
    <div class="points-guild" style="padding:5px;font-size:20px">Wars won: <span style="font-family:Impact;color:rgb(68, 146, 68);"><%= curguild.win %></span></div>
    <div class="points-guild" style="padding:5px;font-size:20px">Wars lost: <span style="font-family:Impact;color:rgb(207, 40, 40)"><%= curguild.loose %></span></div>
    <br/>
    <div style="text-align:center;"><a href="#guilds/<%= curguild.id %>/wars"><button class="edit">war page</button></a></div>
    <br/>
    <div id="users-index">
        <table>
            <tr>
                <th colspan="4">Wars history</th>
            </tr>
            <% guildwars.forEach(function(war) { %>
                <% if (war.toJSON().guild_one_id == curguild.id) {
                    if (Transcendence.guilds.get(war.toJSON().guild_two_id)) {
                        var vsguild = Transcendence.guilds.get(war.toJSON().guild_two_id).toJSON()
                    }
                } else if (war.toJSON().guild_two_id == curguild.id) {
                    if (Transcendence.guilds.get(war.toJSON().guild_one_id)) {
                        var vsguild = Transcendence.guilds.get(war.toJSON().guild_one_id).toJSON()
                    }
                } %>
                <% if (vsguild) { %>
                <% if (war.toJSON().winner == curguild.id) {
                    var action = "Victory"
                } else if (war.toJSON().looser == curguild.id) {
                    var action = "Defeat"
                } else if (war.toJSON().tie == true) {
                    var action = "Tie"
                } %>
                <tr class="users-list">
                    <td>[<%= vsguild.anagram %>] <%= vsguild.name %></td>
                    <td style="width:min-content;font-family:Impact;"><%= vsguild.points %></td>    
                    <td><%= action %></td>
                </tr>
                <% } %>
            <% }) %>
        </table>
    </div>

    <div id="guild-members"></div>
</div>