<div id="edit-panel">
  <div class="panel edit-account" style="display:inline-block;vertical-align:middle;">
    <span class="closebtn"><a style="text-decoration:none" href="/#users">&times;</a></span><br/><br/>
    <div class="header">
      <h1>Edit account</h1>
    </div>
    <br/>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        Email<br/>
        <%= f.email_field :email, autocomplete: "email" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        Password<br/><i style="font-size:12px">(leave blank if you don't want to change it)</i><br/>
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "6 characters minimum..." %>
      </div>

      <div class="field">
        Password confirmation<br/>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="field">
        Current password<br/><i style="font-size:12px">(we need your current password to confirm your changes)</i><br/>
        <%= f.password_field :current_password, autocomplete: "current-password" %>
      </div>

      <div class="actions">
        <%= f.submit "Update", class: "edit save" %>
      </div>
    <% end %>
  </div>
</div>
